/*----- main -----*/
/* ----- logo -----*/
.main-section {
    height: 100vh;
    background-color: var(--section_bg_color);
    color: var(--color);
    padding: 7%;
    border-top: 3px solid black;
}

#main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_color);
}

.main-icon .icon {
    font-size: 21em;
}

.main-quote p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: .05em;
    animation: typing 5s steps(40, end);
}

.arrow {
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: 100vw solid var(--section_bg_color);
    margin-top: -250px;
}

@keyframes typing {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

/* ----- services -----*/
#main-services {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 2.5em;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.section-title h1 {
    border-bottom: 1px solid var(--color);
    width: 400px;
}

.services-info {
    width: 50%;
    font-size: 1.3em;
}

.services-about {
    text-align: justify;
    margin-bottom: 25px;
}

.services-option {
    margin-left: 25px;
}

.services-option li {
    margin-top: 5px;
}